@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Antic";
  src: url("../public/fonts/Antic-Regular.ttf") format("truetype");
  font-display: swap
}

@font-face {
  font-family: "Mrs Eaves";
  src: url("../public/fonts/Mrs-Eaves.ttf") format("truetype");
  font-display: swap
}

* {
  @apply text-grey;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-MrsEaves;
}

@media (min-width: 1024px) {

  a:hover {
    @apply text-peach
  }
}